input{
    flex: 1;
    margin: 10px;
    padding: 10px;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    outline: auto;
    color: #000;
    width: 85%;
    background: #2242c490;
}
input::placeholder{
    color: #fff;
    opacity: 0.6;
}
.searchBar {
    display: flex;
    padding: 1rem 1.75rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.searchBar img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 17px;
} 