
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-raleway);
  padding: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  padding: 20px;
  margin: 20px;
  background-color: #dfdfcf;  
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
} 
.container-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.container .h1-grad{
  font-size:25px;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(2, 118, 43) 0%,
    rgba(56, 9, 9, 0.8) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}
.header{
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;  
}

body {
  font-family: var(--font-roboto);
  background: rgb(34,66,196);
background: linear-gradient(180deg, rgba(34,66,196,0.55) 35%, rgba(0,0,0,1) 100%);
}
@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }
}
button{
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
}
